.Toolbar {
  align-items: center;
  background-color: #703b09;
  box-sizing: border-box;
  display: flex;
  height: 56px;
  justify-content: space-between;
  left: 0;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
